<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--核心配置文件，用于配置相关的数据源连接以及连接池信息，
    实体别名映射，插件配置设置-->
<configuration>
    <!--指定实体类的别名，方便在mapper映射配置文件中引用-->
    <typeAliases>
        <!--1.typeAlias根据指定的实体类定义一个alias的别名
            缺点就是每一个实体都要定义别名-->
<!--        <typeAlias type="edu.nf.ch01.entity.Users" alias="user"/>-->
        <!--2.可以使用package来给实体包下的所有实体类自动自动创建别名
            自动创建的别名就是类名并且把首字母变成小写-->
        <package name="edu.nf.ch01.entity"/>
    </typeAliases>
    <!--mybatis环境配置，default对应environment的id，用于默认使用-->
    <environments default="mysql">
        <!--配置mysql的数据环境-->
        <environment id="mysql">
            <!--配置事务管理，有两个值（JDBC和MANAGED）
                JDBC:mybatis使用本体Connection的jdbc事务
                MANAGED:表示mybatis不参与事务管理，由第三方容器来管理事务-->
            <transactionManager type="JDBC"/>
            <!--配置数据源，type指定获取连接的方式
                POOLED表示使用mybatis自带的连接池
                UNPOOLEd表示不使用连接池，每次从充数据库获取新的连接-->
            <dataSource type="POOLED">
                <!--连接数据库的驱动-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis_study?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
        <!--sqlserver数据源环境-->
    </environments>
    <mappers>
        <mapper resource="mappers/UsersMapper.xml"/>
    </mappers>
</configuration>